<p>Hey <%= name %>,</p>
<p>
    Your Account verification is successfull 🎈. We're very excited to have you on board.
</p>

<p>To get started using FOODIT App, please update your profile:</p>
<p>


<h3>
    Thank You ☺
</h3>